{{yield}}
<div class='row' style='background-color: lightblue'>
    <div class='one column'>
        <LinkTo @route="tasks">tasks</LinkTo>
    </div>
    <div class='two columns'>
        <LinkTo @route="CreateTask">Create New</LinkTo>
    </div>
</div>
